* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

header {
    background: rgba(255, 144, 14, 0.1);
}

/* Common styles */
.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.btn-primary,
.ad-btn {
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 20px 24px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

nav,
ul,
.features-container,
.achievement-container, .sponsor-claint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo,
.banner-title,
.ad-title,
.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* Banner-part-design */
.banner-description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.banner-title {
    font-size: 64px;
    margin: 16px 0px;
}

.banner-description p,
.facts-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 52px 0px;
}

.banner-background img {
    width: 100%;
    margin-top: 70px;
    padding-bottom: 45px;
}

/* Features-part-design */
.features-container {
    margin-bottom: 130px;
}

.features-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-details {
    width: 40%;
}

.features-details h2, .sponsor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.features-details h2>span {
    color: #727272;
}

.features-details h2>p {
    color: #FF900E;
}

.features-description,
.ad-description,
.item-description, .sponsor-container>p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 32px 0px;
}

/* Advertisement part design */
#ad-container {
    position: relative;
}

.advertisement-container {
    display: flex;
    gap: 58px;
    padding-left: 100px;
}

.ad-title {
    border-left: 6px solid #FF900E;
    padding: 0px 21px;
}

.item-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding-top: 45px;
}

.ad-btn {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 60px;
    width: 10%;
    text-align: center;
}

.ad-btn p {
    font-weight: 300;
}

.achievement {
    width: 90%;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    /* transition: (background-color 2s)(color 2s); */
    /* transition-property: background-color,color;  */
    transition: background-color 1s ease-out, color 2s ease-out,border ease-out,width 2s;
}

.achievement:hover {
    background-color: aqua;
    width:100%;
    border:none;
    transform: translateZ(100%);
}

.achievement img {
    padding-top: 45px;
}

.achievement h2 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.achievement:hover.achievement h2{
    color:white;
}
.achievement:hover.achievement p{
    color:blue;
}


.achievement p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    padding-bottom: 60px;
}
/* Sponsor part design */
.sponsor-container{
    text-align: center;
}
.sponsor-title{
    margin-top:180px;
}
.sponsor-container p{
    width:50%;
    margin:0 auto;
}



/* Responsive design (Mobile) */
@media only screen and (max-width:576px) {

    nav,
    ul,
    .advertisement-container, .achievement-container,.sponsor-claint {
        flex-direction: column;
    }

    nav li a {
        text-decoration: underline;
    }

    .banner-description,
    .features-details {
        width: 100%;
        text-align: center;
    }

    .features-container {
        flex-direction: column-reverse;
    }

    .features-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .advertisement-container {
        padding-left: 0px;
    }

    .advertisement-model img, .sponsor-container>p {
        width: 100%;
    }

    .ad-btn {
        width: 40%;
        position: absolute;
        bottom: 0px;
        left: 20%;
        right: 50%;
    }
}